<?xml version='1.0' encoding='utf-8'?>
<widget id="com.skquark.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Lion's Den Cannabis</name>
    <description>Delivering Recreational Cannabis Products to Los Angeles Area</description>
    <author email="alanb@techie.com" href="http://www.skquark.com">Alan Bedian - Skquark, Inc.</author>

    <preference name="phonegap-version" value="cli-8.0.0" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation" value="default" />       <!-- all: default means both landscape and portrait are enabled -->
	<preference name="target-device" value="universal" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-media" />
	
	<plugin name="cordova-plugin-dialogs" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-network-information" />
	
	<icon src="icon.png" />
	
    <icon src="res/icons/ios/Icon.png" gap:platform="ios" width="58" height="58" />
    <icon src="res/icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />    
    <icon src="res/icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

    <icon src="res/icons/android/drawable-ldpi/Icon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icons/android/drawable-mdpi/Icon.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icons/android/drawable-hdpi/Icon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icons/android/drawable-xhdpi/Icon.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="res/icons/android/drawable-xxhdpi/Icon.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="res/icons/android/drawable-xxxhdpi/Icon.png" gap:platform="android" gap:density="xxxhdpi" />
	
    <gap:splash src="splash.png" />
    
    <gap:splash src="res/screen/android/drawable-ldpi/splash.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/drawable-mdpi/splash.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/drawable-hdpi/splash.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/drawable-xdpi/splash.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/android/drawable-mdpi/splash.png"              gap:platform="blackberry" />
	
    <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="680" height="960" />
    <gap:splash src="res/screen/ios/Deafult-568h-2x.png" gap:platform="ios" width="640" height="1136" />


<gap:splash src="res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />
    <content src="http://www.lionsdencannabis.com" />
    <access origin="*" subdomains="true" />
</widget>
